.page-title{
    text-align: center;
}

.page-title h2{
    margin-bottom: 5px;
}

.container{
    margin: 50px;
    display: flex;
}

.container-left{
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 10%;
}

.container-right{
    width: 50%;
    padding: 0px 60px;
}

.text{
    color: #000000;
    margin-bottom: 40px;
    text-align: left;
}

.title{
    text-align: center;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.h2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-weight: 600;
}

.text-blue{
    color:#0076f0;
}

.team-container{
    background-color: #71C9CE;
    padding: 50px;
}

.card-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1px;
    margin: 80px 1px;
}

.card{
    width: 280px;
    margin:10px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 0 #71C9CE;
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.card:hover{
    box-shadow: 1px 1px 7px 0 grey;
    background-color: #71C9CE;
}

.card:hover .card-body h3, .card:hover .card-body p, .card:hover .card-socmed i{
    color: #eee;
}

.card-img img{
    width:120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: -30px auto 0px auto;
}

.card-body{
    text-align: center;
    padding: 0;
}

.card-body h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.team-position{
    font-size: 1.3rem;
    font-weight: 200;
    margin: 0;
    color: #7a7a7a;
}

.text-card{
    text-align: center;
}

.card-socmed{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 20px;
}

.card-socmed i{
    font-size: 1.5rem;
    color: #7a7a7a;
}

.card-socmed i:hover{
    color: #0076f0;
}

.faq{
    width: 100%;
}

.answer p{
    margin-top: 30px;
    width: 100%;
}

.text1{
    text-align: center;
}

.nav{
    background-color: #ffffff;
}

.faq-container{
    padding: 10px 20px;
}

section{
    width: 80%;
    margin: 50px auto 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section{
    font-size: 3rem;
    margin: 2rem 0rem;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1 rem;
    border-bottom: 2px solid #3a3a3a;
    cursor:pointer;
}


.faq.active .answer{
    max-height: 300px;
    animation: fade 0.4s ease-in-out;
}

.faq.active svg{
    transform:rotate(180deg);
}

svg{
    transform: transform 0.5s ease-in;
}
.konten {

    
}
.content-2 {
    padding: 20px;
    margin: 20px;
    font-family: 'roboto flex',sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    width: 950px;
    height: 250px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flexbox;
    float: right;
    margin-right: 50px;
}
.content-2 h1 {
    text-transform: capitalize;
    font-size: 40px;
    color: #2F59A7;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: 'poppins', 'sans-serif';
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
 .foto {
    width: 25em;
    height:25em ;
    float: left;
    margin-left: 40px;
background-color: #fff;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    } 
}

/* Tampilan tablet */
@media screen and (max-width: 768px){
    .container{
        margin: 0;
        padding: 20px;
    }

    .container-right{
        display: none;
    }

    .container-left{
        width: 90%;
        padding: 0;
    }

    .card{
        margin-bottom: 30px;
    }
    .konten {
        margin: 0;
        padding: 20px;
    }
    .foto {
        display: none;
    }
}